@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Next Sunday';
  src: url('/fonts/next-sunday.woff2') format('woff2');
}

@font-face {
  font-family: 'Squealer';
  src: url('/fonts/squealer.woff2') format('woff2');
}
